<!-- BEGINNING OF "HOME PAGE" HTML (home.html) -->

{% extends 'layout.html' %}
{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<center>
		<div class="main-container">
			<h1 class="intro-page-header">Shopping made <strong class="sub-heading-flip">easy</strong>.</h1>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br> 
			<br>
			<h3 class="intro-page-subheader">What's in your cart?</h3>
			<br>
			<br>
			<br>
			<a href="/register"><input type="button" class="button-home-page-login" value="Register"></a>
			<a href="/login"><input type="button" class="button-home-page-register" value="Login"></a>
		</div>
	</center>
{% endblock %}

<!-- END OF "HOME PAGE" HTML (home.html) -- >
